<section class="contact-bar">
    <div class="container">
        <div class="contact-bar__inne">
            <div class="contact-bar__bg" style="
                background-image: url(assets/images/backgrounds/kontakteeru-remondiga.png);
              "></div>
            <div class="contact-bar__left">
                <div class="contact-bar__left-icon">
                    <span class="icon-diagnostic"></span>
                </div>
                <div class="contact-bar__left-content">
                    <h3 class="contact-bar__title">
                        Soovid tasuta konsultatsiooni?
                    </h3>
                    <p class="contact-bar__text">
                        Kui tundub, et on soov abi saada telefoni teel...
                    </p>
                </div>
            </div>
            <div class="contact-bar__right">
                <div class="contact-bar__call">
                    <div class="contact-bar__call-icon">
                        <img src="assets/images/icon/contact-bar-call-icon.png" alt="" />
                    </div>
                    <div class="contact-bar__call-content">
                        <h4 class="contact-bar__call-number">
                            <a href="tel:0037253096510">+372 530 96 510</a>
                        </h4>
                        <p class="contact-bar__call-time">
                            Esmasp. - reede: 9:30 - 18:00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>