<footer class="site-footer">
    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__inner">
                <div class="site-footer__contact-info">
                    <ul class="site-footer__contact-points list-unstyled">
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-1.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Tallinn 13917</h4>
                                <p>Harjumaa</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-2.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Kirjuta meile:</h4>
                                <a href="mailto:funkab@funkab.ee">funkab@funkab.ee</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-3.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Helista:</h4>
                                <a href="tel:+37253096510">+372 530 96 510</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <p class="site-footer__text">
                            Erki Soopere omab elektriseadmete remondi litsentsi.
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__useful-links">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Menüü</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="/">Avaleht</a></li>
                            <li><a href="/hinnakiri">Hinnakiri</a></li>
                            <li><a href="https://broneeri.funkab.ee">Broneeri väljakutse</a></li>
                            <li><a href="/kontakt">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__services">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Meie teenused</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li>
                                <a href="https://broneeri.funkab.ee">Tolmuimejate remont</a>
                            </li>
                            <li><a href="https://broneeri.funkab.ee">Pesutehnika remont</a></li>
                            <li>
                                <a href="https://broneeri.funkab.ee">Külmtehnika remont</a>
                            </li>
                            <li>
                                <a href="https://broneeri.funkab.ee">Väiketehnika remont</a>
                            </li>
                            <li>
                                <a href="https://broneeri.funkab.ee">Köögitehnika remont</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">
                            © Õigused kaitstud <a href="/">Funkab OÜ</a> <span id="current-year"></span>
                        </p>
                        <div class="site-footer__bottom-text-two">
                            <p>Programmeerija: <a href="https://linkedin.com/in/kaspar-palgi">Kaspar Palgi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>