<div class="sidebar-textwidget">
    <div class="sidebar-info-contents">
        <div class="content-inner">
            <div class="logo">
                <a href="/"><img src="assets/images/logo.png" alt="" /></a>
            </div>
            <div class="content-box">
                <h3>
                    Kodumasinate ja seadmete remont <br />
                    Pesimasinad, Pliidid, Külmikud jne.
                </h3>
                <div class="inner-text">
                    <p>
                        Meie kogenud kodumasinate remontijad oskavad kiiresti
                        tuvastada ning parandada väga erinevaid vigu erinevatel
                        kodumasinatel.
                    </p>
                </div>
            </div>

            <div class="sidebar-contact-info">
                <h3>Võtke ühendust</h3>
                <ul>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icon/side-menu-icon-1.png" alt="" />
                            </div>
                            <div class="text">
                                <p>
                                    Tallinn 13917<br />
                                    Harjumaa
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icon/side-menu-icon-2.png" alt="" />
                            </div>
                            <div class="text">
                                <p>
                                    <a href="mailto:funkab@funkab.ee">funkab@funkab.ee</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icon/side-menu-icon-3.png" alt="" />
                            </div>
                            <div class="text">
                                <p><a href="tel:0037253096510">+372 530 96 510</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon">
                                <img src="assets/images/icon/side-menu-icon-4.png" alt="" />
                            </div>
                            <div class="text">
                                <p>Töötame E-R: 10:00 - 17:00</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="side-content-newsletter-box">
                <h3>Newsletter Subscription</h3>
                <form action="index.html" method="post">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter Email Address" required="" />
                        <button class="thm-btn" type="submit">
                            subscribe now
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>