<footer class="site-footer">
    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__inner">
                <div class="site-footer__contact-info">
                    <ul class="site-footer__contact-points list-unstyled">
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-1.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Таллинн 13917</h4>
                                <p>Харьюмаа</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-2.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Напишите нам:</h4>
                                <a href="mailto:funkab@funkab.ee">funkab@funkab.ee</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/images/icon/footer-icon-3.png" alt="" />
                            </div>
                            <div class="content">
                                <h4>Позвоните:</h4>
                                <a href="tel:+37253096510">+372 530 96 510</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <p class="site-footer__text">
                            Эрки Соопере имеет лицензию на ремонт электрического оборудования.
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__useful-links">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Меню</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="/ru">Главная</a></li>
                            <li><a href="/ru/preiskupant">Прейскурант</a></li>
                            <li><a href="https://broneeri.funkab.ee?lang=ru">Забронировать вызов</a></li>
                            <li><a href="/ru/kontakt">Контакт</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__services">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Наши услуги</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li> <a href="https://broneeri.funkab.ee?lang=ru">Ремонт пылесосов</a> </li>
                            <li> <a href="https://broneeri.funkab.ee?lang=ru">Ремонт стиральной техники</a> </li>
                            <li> <a href="https://broneeri.funkab.ee?lang=ru">Ремонт холодильной техники</a> </li>
                            <li> <a href="https://broneeri.funkab.ee?lang=ru">Ремонт мелкой техники</a> </li>
                            <li> <a href="https://broneeri.funkab.ee?lang=ru">Ремонт кухонной техники</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text"> © Все права защищены <a href="/">Funkab OÜ</a> <span
                                id="current-year"></span> </p>
                        <div class="site-footer__bottom-text-two">
                            <p>Программист: <a href="https://linkedin.com/in/kaspar-palgi">Каспар Пальги</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>